body{
    margin: 0;
    padding: 0;
    background: url(weblogin2.JPG)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: sans-serif;
}

.box{

    background: #720eb470;
    color: rgb(255, 196, 0);
    top: 50%;
    right:0%;
    position: absolute;
    transform: translate(-40%,-50%);
    width: 200px;
    height: 400px;
    padding: 70px 30px;
}



.user{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: black;
}

p{
    color: #f1e319;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

input{
    width: 100%;
    margin-bottom: 10px;
}

 input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #f6f4fa;
    font-size: 16px;
}

input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #0a83f5ec;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;

}


input[type="submit"]:hover
{
    cursor: pointer;
    background: #f3f305;
}

a
{
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #e7280f;
}


































































